# Draft Review

This is some initial review of the dataset using some basic descriptive statistics techniques in python.

In [2]:
# Import standard libraries
import numpy as np
import pandas as pd
from sklearn.datasets
from scipy.stats import dgamma
import matplotlib.pyplot as plt

In [4]:
# Read the Excel file
df = pd.read_excel('datasets/online+retail/Online Retail.xlsx', engine='openpyxl')

# Display the first few rows of the DataFrame
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [5]:
# View last few rows
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [6]:
# Summarize the data
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [11]:
# Summarize the data
df['Country'].describe()

count             541909
unique                38
top       United Kingdom
freq              495478
Name: Country, dtype: object

In [8]:
# Subset the dataframe
subset_df = df.loc[range(0,50), ['InvoiceDate', 'Country']]
print(subset_df.head(3))
print('The length of the new dataframe is {}'.format(len(subset_df)))

          InvoiceDate         Country
0 2010-12-01 08:26:00  United Kingdom
1 2010-12-01 08:26:00  United Kingdom
2 2010-12-01 08:26:00  United Kingdom
The length of the new dataframe is 50

In [9]:
# Check datatypes
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [10]:
# Sample from the dataset
sample_df = df.sample(frac=0.2)
print(sample_df.head(3))
print('The length of the new dataframe is {}'.format(len(sample_df)))

       InvoiceNo StockCode                    Description  Quantity  \
538780    581414     22723  SET OF 6 HERB TINS SKETCHBOOK         1
81517     543162     21154      RED RETROSPOT OVEN GLOVE          6
177698    552171   15056BL        EDWARDIAN PARASOL BLACK        60

               InvoiceDate  UnitPrice  CustomerID         Country
538780 2011-12-08 14:39:00       1.25     14730.0  United Kingdom
81517  2011-02-03 18:08:00       1.25     17507.0  United Kingdom
177698 2011-05-06 13:01:00       4.95     14145.0  United Kingdom
The length of the new dataframe is 108382

In [ ]:
# Draft a box plot, or histogram of certain columns depending on hpyothesis